@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

#about,
#skills,
#projects-list,
#experience {
  scroll-margin-top: 80px;
}

#home {
  scroll-margin-top: 200px;
}
